.width-0
{
    width: 0;
}

.width-1\/2
{
    width: 50%;
}

.width-50\%
{
    width: 50%;
}

.width-100\%
{
    width: 100%;
}

.container
{
    font-size: 1rem;
}

.container .row
{
    font-size: 2rem;
}

.text-color-black
{
    color: black;
}

.text-color-white
{
    color: white;
}
